.black-cell {
	padding-top: 12%;
	background-color: #683725;
}

.contains-black-simple {
	background-image: url(../Images/black_simple.gif);
	background-size: 100% auto;
}

.contains-black-king {
	background-image: url(../Images/black_king.gif);
	background-size: 100% auto;
}

.contains-white-simple {
	background-image: url(../Images/white_simple.gif);
	background-size: 100% auto;
}

.contains-white-king {
	background-image: url(../Images/white_king.gif);
	background-size: 100% auto;
}

.contains-movable-piece {
	cursor: grab;
}

.selected-for-move {
	border-color: coral;
	border-style: solid;
}

.possible-move-target {
	border-color: forestgreen;
	border-style: solid ;
	cursor: grab;
}

.rotated{
    transform: rotate(180deg);
}