.black-cell {
	padding-top: 12%;
	background-color: #683725;
}

.black-simple {
	background-image: url(../Images/black_simple.gif);
	background-size: 100% auto;
}

.black-king {
	background-image: url(../Images/black_king.gif);
	background-size: 100% auto;
}

.white-simple {
	background-image: url(../Images/white_simple.gif);
	background-size: 100% auto;
}

.white-king {
	background-image: url(../Images/white_king.gif);
	background-size: 100% auto;
}

.movable-piece {
	cursor: grab;
}

.selected-for-move {
    background-color: #d57e29;
}

.possible-move-target {
	cursor: grab;
	background-color: #854027;
}

.last-moved-piece{
    background-color:lightsteelblue;
}

.rotated{
    transform: rotate(180deg);
}

.rotated .black-cell {
	transform: rotate(180deg);
}

.thinking {
    width: 40%;
    position: absolute;
    z-index: 100;
    top: 40%;
    left: 30%;
    text-align: center;
    font-size: x-large;
    font: bold;
    background-color:peachpuff;
    opacity: 0.7;
    border-radius: 15px;
}

.won {
	width: 40%;
	position: absolute;
	z-index: 100;
	top: 40%;
	left: 30%;
	text-align: center;
	font-size: x-large;
	font: bold;
	background-color: #91f59f;
	opacity: 0.7;
	border-radius: 15px;
}

.lost {
	width: 40%;
	position: absolute;
	z-index: 100;
	top: 40%;
	left: 30%;
	text-align: center;
	font-size: x-large;
	font: bold;
	background-color: #d05555;
	opacity: 0.7;
	border-radius: 15px;
}

.draw {
	width: 40%;
	position: absolute;
	z-index: 100;
	top: 40%;
	left: 30%;
	text-align: center;
	font-size: x-large;
	font: bold;
	background-color: #cabf4c;
	opacity: 0.7;
	border-radius: 15px;
}